/*//META{"name":"WhiteCat - FLAT ","description":"A Theme for BetterDiscord based on WhiteCat's osu! skin (DO NOT USE THE THEME SETTINGS TO CHANGE COLORS AS IT WILL BREAK THE THEME) Currently working on a way to stop the option from displaying. !!SOME IMPORTANT ELEMENTS DO NOT WORK IN LANGUAGES OTHER THAN ENGLISH!! ","author":"Hyper","version":"0.0.1"}*//*/


/*  PLUGINS (optional)  */
@import url('https://raw.githubusercontent.com/Hypzr/WhiteCat/master/WhiteCatTheme/base.css');
:root {
        --Title: "WhiteCat";
        --logo: url(https://cdn.discordapp.com/attachments/587228601611583488/683075115998904339/Untitled.png);
        --background: url(https://cdn.discordapp.com/attachments/587228601611583488/683091574259056642/Experimental2dim.png); /*   You can also use : url(LINKtoIMAGE)  */
        --Art1: url(https://cdn.discordapp.com/attachments/587228601611583488/683162732136103955/3079-removebg-preview.png);
        --Art2: url(https://cdn.discordapp.com/attachments/677375453874356224/677375858058723328/DITFWELC.png);
        --CustomStatusText: "Edit Custom Status";
        --ViewProfileText: "Show Profile";
        --font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
        --MainColor: rgba(255,255,255,1);
		--bg1: rgb(212,192,176);
		--bg2: rgb(212,192,176);
		--bg3: rgb(212,192,176);
		--bg4: rgb(212,192,176);
        --bg5: rgb(121,197,251);
        --bg6: rgb(15,15,25);
        --bg7: rgb(81,77,78);
/*  STATUSES  */
        --Online: rgb(0, 255, 136);
        --Idle: rgb(255, 207, 0);
        --Unavailable: rgb(206, 47, 47);
        --Offline: rgba(116,127,140,1);
/*  PROFILE HEADERS (you can also use "url(LINKtoIMAGE)" for the profile headers)  */
        --Playing: rgba(212,192,176,1); 
        --Xbox: rgb(5, 150, 5);
        --Spotify: rgb(15, 173, 70);
        --Streaming: rgba(93,0,255,1);
    
/*  MENUS COLORS  */
        --darkgrey: rgba(8,8,8,0.3);
        --darkgrey5: rgba(13,13,13,0.30);
        --popoutgrey: rgba(5, 5, 5, 0.75);
        --BG-Image-Grey: rgba(10,10,10,0.75);
   }
/*END OF CONFIG*/